<!DOCTYPE html>
<html 
lang="{{ or site.Language.LanguageCode site.Language.Lang }}" 
dir="{{ or site.Language.LanguageDirection `ltr` }}"
data-bs-theme="light">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <nav class="navbar navbar-expand-lg fixed-top bg-white clean-navbar navbar-light">
    <div class="container"><a class="navbar-brand text-nowrap logo" href="#"><img width="64" height="64" src="/assets/img/logo-256-white.png" style="width: 64px;">Crucible Data Platform</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://boysenberry.dhcp.lbl.gov:5000/upload_small">Data Upload</a>
              <a class="dropdown-item" href="https://boysenberry.dhcp.lbl.gov:5000/manage_data">Manage Data</a>
              <a class="dropdown-item" href="https://mf-scicat-testenv.lbl.gov">SciCat Data Catalog</a>
              <a class="dropdown-item" href="https://boysenberry.dhcp.lbl.gov:5000/authorize_user">Data Explorers</a>
              <a class="dropdown-item" href="/analysis/">Data Analysis Workflows</a>
              <a class="dropdown-item" href="../hpc.html">HPC</a></div>
          </li>
          <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Software&nbsp;</a>
            <div class="dropdown-menu"><a class="dropdown-item" href="https://github.com/MolecularFoundry/">GitHub Project</a><a class="dropdown-item" href="http://www.scopefoundry.org">ScopeFoundry</a></div>
          </li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>  
  <main class="page">
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/baguetteBox.min.js"></script>
  <script src="/assets/js/vanilla-zoom.js"></script>
  <script src="/assets/js/theme.js"></script>  
</body>
</html>
