{{ define "main" }}
        <section class="clean-block clean-post dark">
            <div class="container">
                <div class="block-content">
                    <div class="post-image" style="background: url(&quot;/assets/img/hpc_dalle.png&quot;);"></div>
                    <div class="post-body">
                        <h3>High Performance Computing Resources</h3>
                        <p></p>
                        <h4>NERSC Allocation</h4>
                        <p>Through the&nbsp;<span style="color: rgb(0, 0, 0);">DOE Mission Science</span>&nbsp;program, the Molecular Foundry has received an allocation of computing resources at NERSC (<span style="color: rgb(23, 48, 64);">National Energy Research Scientific Computing Center), a large scale super-computer facility co-located at Lawrence Berkeley National Lab. If you need computing resources for your user project research, please contact the Foundry staff responsible for NERSC sub-allocations: Edward Barnard and David Prendergast</span></p>
                        <div class="row">
                            <div class="col-md-5">
                                <figure class="figure"><img class="rounded img-fluid figure-img" src="/assets/img/NERSCvertLOCKUP.png" alt="A generic square placeholder image with rounded corners in a figure.">
                                    <figcaption class="figure-caption"></figcaption>
                                </figure>
                            </div>
                            <div class="col">
                                <p>If you use NERSC resources during your user project in 2024 please acknowledge NERSC in your publications of work resulting from the use of NERSC resources:<br> <br>"This research used resources of the National Energy Research Scientific Computing Center, a DOE Office of Science User Facility supported by the Office of Science of the U.S. Department of Energy under Contract No. DE-AC02-05CH11231 using NERSC award BES-ERCAP0028035."</p>
                            </div>
                        </div>
                        <h4>Berkeley Lab Resources</h4>
                        <p>Berkeley Lab's Science IT supports scientists by providing computing services including the Lawerencium cluster and on-premises data storage.</p>
                    </div>
                </div>
            </div>
        </section>
{{ end }}