{{ define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}

    <div class="container">



      <div class="row">
        <div class="col-lg-5"><img class="rounded img-fluid" src="{{ .Params.header_image }}"></div>
        <div class="col-lg-7">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</h3>
            <div class="info"><span class="text-muted">  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
              by <a href="#">AUTHOR</a></span></div>
            <p>    {{ .Summary }}</p>
        </div>
    </div>
    <hr/>
    {{ .Content }}

    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

  </div>

{{ end }}
